* {
    border: none;
    border-radius: 0;
    font-family: Jetbrains, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(40, 40, 41, 0);
    color: #b3b3b3;
}

tooltip {
    background: #2e2e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #2e2e2e;
}

#workspaces button {
    padding: 5px;
    color: #7c7c7c;
    margin-right: 5px;
}

#workspaces button.active {
    color: #b3b3b3;
    background: #4a4a4d;
    border-radius: 5px;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #e75656;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a3a3a3;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 10px;
}

#network,
#custom-gpu-usage,
#pulseaudio,
#pulseaudio.microphone,
#clock,
#workspaces,
#tray {
    background: #2e2e2e;
    padding: 0px 10px;
    border-radius: 10px;
    margin: 3px 1px;
    margin-top: 3px;
    border: 1px solid #0f0f0f;
}
